# version: '3'
services:

  db:
    # build: requirements/mariadb/.
    image: mysql:8.0
    container_name: db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306" #default port of mysql
    environment:
      - MYSQL_DATABASE=wordpress
    volumes:
      - ./requirements/mariadb/data:/var/lib/mysql
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network
     
  wordpress:
    # build: requirements/wordpress/.
    image: wordpress:5.1.1-fpm-alpine
    container_name: wordpress
    restart: always
    env_file:
      - .env
    # ports:
    #   - 9000:9000
    environment:
      - WORDPRESS_DB_HOST=db:3306
      - WORDPRESS_DB_USER=$MYSQL_USER
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD
      - WORDPRESS_DB_NAME=wordpress
    volumes:
      - ./requirements/wordpress/data:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

 
  webserver:
    # build: requirements/nginx/.
    image: my-nginx-tls
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./requirements/wordpress/data:/var/www/html
      - ./requirements/nginx/conf:/etc/nginx/http.d
    depends_on:
      - wordpress
    networks:
      - app-network


# volumes:
#   certbot-etc:
#   wordpress:
#   dbdata:

networks:
  app-network:
    driver: bridge

  # nginx:
  #   build: requirements/nginx/.
  #   image: my-nginx-tls
  #   ports:
  #     - "443:443"
  #   volumes:
  #     -/nginx:/etc/nginx/conf.d
  #     -/logs/nginx:/var/log/nginx
  #     -/wordpress:/var/www/html
  #   links:
  #     - wordpress
  #   restart: always
  #   depends_on:
  #     - wordpress

 
 