services:
  db:
    container_name: mariadb
    build: ./requirements/mariadb
    image: inception-mariadb
    restart: always
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - network
    healthcheck:
      test: [
        "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$MYSQL_ROOT_PASSWORD"
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    image: inception-nginx
    restart: always
    ports:
      # - "80:80"
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - network
     
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    image: inception-wordpress
    restart: always
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      db:
        condition: service_healthy
    networks:
      - network

networks:
  network:
    name: docker-network
    driver: bridge

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/trang/data/mariadb #need to change to trpham for VM
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/trang/data/wordpress #need to change to trpham for VM

  

 
 