# version: '4'
services:

  db:
    # build: requirements/mariadb/.
    image: mysql:8.0
    container_name: db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306" #default port of mysql
    environment:
      - MYSQL_DATABASE=wordpress
    volumes:
      - ./dbdata:/var/lib/mysql
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network
     
  wordpress:
    # build: requirements/wordpress/.
    image: wordpress:5.1.1-fpm-alpine
    container_name: wordpress
    restart: always
    env_file:
      - .env
    # ports:
    #   - 9000:9000
    environment:
      - WORDPRESS_DB_HOST=db:3306
      - WORDPRESS_DB_USER=$MYSQL_USER
      - WORDPRESS_DB_PASSWORD=$MYSQL_PASSWORD
      - WORDPRESS_DB_NAME=wordpress
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

 
  webserver:
    # build: requirements/nginx/.
    image: my-nginx-tls
    ports:
      - "80:80"
    volumes:
      - ./wordpress:/var/www/html
      - ./nginx/conf:/etc/nginx/conf.d
      - ./certbot-etc:/etc/letsencrypt
    depends_on:
      - wordpress
    networks:
      - app-network

  certbot:
    depends_on:
      - webserver
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - wordpress:/var/www/html
    command: certonly --webroot --webroot-path=/var/www/html --email trpham@trpham.42.fr --agree-tos --no-eff-email --staging -d trpham.42.fr -d www.trpham.42.fr


volumes:
  certbot-etc:
  wordpress:
  dbdata:

networks:
  app-network:
    driver: bridge

  # nginx:
  #   build: requirements/nginx/.
  #   image: my-nginx-tls
  #   ports:
  #     - "443:443"
  #   volumes:
  #     -/nginx:/etc/nginx/conf.d
  #     -/logs/nginx:/var/log/nginx
  #     -/wordpress:/var/www/html
  #   links:
  #     - wordpress
  #   restart: always
  #   depends_on:
  #     - wordpress

 
 