services:

  db:
    # build: requirements/mariadb/.
    image: mysql:8.0
    container_name: db
    restart: always
    ports:
      - "3306:3306" #default port of mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    volumes:
      - ./requirements/mariadb/data:/var/lib/mysql
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network
    secrets:
      - db_password
      - db_root_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
     
  wordpress:
    # build: requirements/wordpress/.
    image: wordpress:5.1.1-fpm-alpine
    container_name: wordpress
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db_password
    volumes:
      - ./requirements/wordpress/data:/var/www/html
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    secrets:
      - db_password

 
  webserver:
    # build: requirements/nginx/.
    image: my-nginx-tls
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./requirements/wordpress/data:/var/www/html
      - ./requirements/nginx/conf:/etc/nginx/http.d
    depends_on:
      - wordpress
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

  # nginx:
  #   build: requirements/nginx/.
  #   image: my-nginx-tls
  #   ports:
  #     - "443:443"
  #   volumes:
  #     -/nginx:/etc/nginx/conf.d
  #     -/logs/nginx:/var/log/nginx
  #     -/wordpress:/var/www/html
  #   links:
  #     - wordpress
  #   restart: always
  #   depends_on:
  #     - wordpress

 
 