[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
x509_extensions    = v3_ext

[ dn ]
C  = FR
ST = Ile-de-France
L  = Paris
O  = 42
OU = Student
CN = trpham.42.fr

[ v3_ext ]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = trpham.42.fr
DNS.2 = www.trpham.42.fr
